@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.text-center {
    text-align: center;
}